body {
    background-color: lightblue;
    text-align: center;
    font-family: Arial;
}

nav {
    background-color: darkblue;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

h1 {
    color: darkblue;
}

button {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
}
